<h1>Posts Index JS</h1>
<ul>
	<% _.each(posts, function(post) { %>
			<li>
				<a href="#posts/<%= post.id %>"><%= post.escape("title") %></a>
				<input type="submit" class="delete" data-id="<%= post.id %>" value="Delete">
			</li>
	<% }) %>
</ul>

<br>
<a href="#/posts/new">Add Post</a>